<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <contexts>
      <context type="ChatApplication.Data.EntityFramework.ContextEF.ChatContext, ChatApplication.Data.EntityFramework">
        <databaseInitializer type="ChatApplication.Data.EntityFramework.ContextEF.ChatContext, ChatApplication.Data.EntityFramework" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="context" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ChatApplication;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Security -->
    <add key="PWD:Key" value="h19uM1dI94F0Nfa4sBS0qe6OL793TN53" />
    <add key="PWD:SaltLength" value="32" />
    <add key="PWD:Length" value="32" />
    <add key="PWD:Iterations" value="50000" />
  </appSettings>
</configuration>