<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"
            integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
            crossorigin="anonymous"></script>
</head>
<body>
    <h2>Hello, World</h2>
    <button type="button" id="login">Login</button>
    <br />
    <div>
        <input id="roomName" /><br />
        <button type="button" id="createRoom">Create Room</button>
    </div>
    <br />
    <button type="button" id="rooms">Get Rooms</button>
    <div id="results"></div>
    <script type="text/javascript">
        $("#login").click(() => {
            $.post("http://localhost:64784/api/v1/auth/login.json", { email: "foo.bar@gmail.com", password: "secret1" })
                .done(key => {
                    sessionStorage.setItem("auth", key);
                });
        });
        $("#rooms").click(() => {
            fetch('http://localhost:64784/api/v1/rooms/all.json', {
                method: 'GET',
                mode: 'cors',
                headers: {
                    'Authorization': sessionStorage.getItem('auth')
                }
            }).then(res => {
                return res.json();
            })
            .then(json => {
                $('#results').text(JSON.stringify(json));
            });
        });
        $("#createRoom").click(() => {
            var roomName = $("#roomName").val();
            fetch('http://localhost:64784/api/v1/rooms/create', {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Authorization': sessionStorage.getItem('auth'),
                    'Content-Type': 'application/json',
                    Accept: 'application/json'
                },
                body: JSON.stringify({ name: roomName })
            })
            .then(res => {
                console.log(res);
            });
        });
    </script>
</body>
</html>
