<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Hello, World</h2>
    <form action="http://localhost:64784/api/v1/auth/login.json" method="post">
        <input type="text" name="email" /><br />
        <input type="text" name="password" /><br />
        <button>Submit</button>
    </form>
</body>
</html>
